@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

$poppins: 'Poppins', sans-serif;

$yellow: #FFC900;
$dark: #0D0B00;

html {
    scroll-behavior: smooth;
} 

body {
    font-family: $poppins;
    line-height: 1.15;
}

* {
    margin: 0;
    padding: 0;
}

img {
    transform: scale(1);
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.01);
    }
}

@mixin createBoxShadow($radius: 30px, $color: $yellow, $opacity: 0.3) {
    box-shadow: 0 0 $radius rgba($color, $opacity);
}

@mixin createTextShadow($radius: 30px, $color: $yellow, $opacity: 0.3) {
    text-shadow: 0 0 $radius rgba($color, $opacity);
}

@mixin spaceChildren($gap) {
    & > *:not(:last-child) {
        margin-right: $gap;
    }
}

::selection {
    background-color: rgba($yellow, 0.5);
}

%button {
    background-color: $yellow;
    color: $dark;
    padding: 15px 25px;
    display: inline-block;
    border-radius: 50px;
    opacity: 1;
    transition: opacity 0.2s ease !important;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.9rem;
    

    &:hover {
        opacity: 0.8;
    }

    &:first-child {
        margin-right: 5px;
    }
}

.glow-button {
    @extend %button;
    @include createBoxShadow(30px, $yellow, 0.3);
    mix-blend-mode: screen;
    backdrop-filter: blur(25px);
    color: $dark !important;
}

.section {
    width: 75vw;
    margin: 0 auto;
}