@import 'global';

.landing {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .inner-container {
        text-align: left;

        .text {
            h1 {
                font-size: 3.5rem;
                color: $yellow;
                margin-bottom: 1rem;
                mix-blend-mode: screen;
                backdrop-filter: blur(25px);
                @include createTextShadow(30px, $yellow, 0.3);
            }

            p {
                font-size: 1.5rem;
                margin-bottom: 2rem;
                font-weight: 200;
            }
        }

        .event-details {
            .glow-button {
                margin-bottom: 10px;
                font-size: 1rem;
                padding: 20px 30px;
            }
        }
    }
}